@use "sass:math";

// This is adapted from normalize.css but specialized in some points
// http://necolas.github.io/normalize.css/


// ---------------------------------------------------------------------------------------------------------
// Document
// ---------------------------------------------------------------------------------------------------------

:where(html) {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	box-sizing: border-box;
	// normalize 1rem = 16px to 1rem = 10px
	// so use
	font-size: math.percentage(math.div(10, 16));
}

:where(*) {
	padding: 0;
	margin: 0;
}

:where(*, ::before, ::after) {
	box-sizing: inherit;
}


:where(body) {
	font: 1.6rem / 1.2 sans-serif;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}



// ---------------------------------------------------------------------------------------------------------
// Grouping content
// ---------------------------------------------------------------------------------------------------------

:where(main) {
	display: block;
}

:where(h1, h2, h3, h4, h5, h6) {
	font-size: inherit;
	font-weight: inherit;
	font-style: inherit;
}



// ---------------------------------------------------------------------------------------------------------
// Text level semantics
// ---------------------------------------------------------------------------------------------------------

:where(b, strong) {
	font-weight: 700;
}

:where(a) {
	color: inherit;
	text-decoration: none;
	background-color: transparent;
}

:where(code, kbd) {
	font-family: monospace, monospace;
	font-size: 1em;
}

:where(small) {
	font-size: 80%;
}

:where(sub, sup) {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

:where(sub) {
	bottom: -0.25em;
}

:where(sup) {
	top: -0.5em;
}



// ---------------------------------------------------------------------------------------------------------
// Embedded content
// ---------------------------------------------------------------------------------------------------------

:where(audio, video) {
	display: block;
}

:where(audio:not([controls])) {
	display: none;
	height: 0;
}

:where(img) {
	border-style: none;
	max-width: 100%;
	height: auto;
}

:where(iframe) {
	border: 0;
}


// ---------------------------------------------------------------------------------------------------------
// Forms
// ---------------------------------------------------------------------------------------------------------

// Don't forget to style the focus state as well!
:where(button) {
	color: inherit;
	border: 0;
	border-radius: 0;
	-webkit-font-smoothing: inherit;
	letter-spacing: inherit;
	background: none transparent;
	cursor: pointer;
	-webkit-appearance: button;
	outline: 0;
}

:where(button, input) {
	overflow: visible;
}

:where(button, input, textarea) {
	font: inherit;
	text-align: inherit;
}

:where(input:disabled, textarea:disabled) {
	color: inherit;
}

:where(button, select) {
	text-transform: none;
}

:where(progress) {
	vertical-align: baseline;
}

:where(textarea) {
	overflow: auto;
}

:where([type="checkbox"], [type="radio"]) {
	box-sizing: border-box;
	padding: 0;
}

:where([type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button) {
	height: auto;
}

:where([type="search"]) {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

:where(:focus) {
	outline: 0;
}

:where(::-moz-focus-inner) {
	padding: 0;
	border: 0;
}

:where(::-webkit-file-upload-button) {
	-webkit-appearance: button;
	font: inherit;
}



// ---------------------------------------------------------------------------------------------------------
// Tables
// ---------------------------------------------------------------------------------------------------------

:where(table) {
	border-collapse: collapse;
}

:where(th) {
	text-align: left;
	font-weight: inherit;
}



// ---------------------------------------------------------------------------------------------------------
// Interactive
// ---------------------------------------------------------------------------------------------------------

:where(details, menu) {
	display: block;
}

:where(summary) {
	display: list-item;
}



// ---------------------------------------------------------------------------------------------------------
// Scripting
// ---------------------------------------------------------------------------------------------------------

:where(template) {
	display: none;
}



// ---------------------------------------------------------------------------------------------------------
// Hidden
// ---------------------------------------------------------------------------------------------------------

:where([hidden]) {
	display: none;
}


// ---------------------------------------------------------------------------------------------------------
// SVG
// ---------------------------------------------------------------------------------------------------------

:where(svg) {
	// By default IE11 renders SVGs with overflow enabled, which can caused weird rendering issues
	overflow: hidden;
	display: inline-block;
}


// ---------------------------------------------------------------------------------------------------------
// Lists
// ---------------------------------------------------------------------------------------------------------

// Disable list styling on lists by default, as the styling should be set
// explicitly in the `.content` class (already done in the `content()` mixin.
:where(ul, ol) {
	list-style: none;
}
